html,
body {
	width: 100%;
	height: 100%;
	max-width: 770px;
	max-height: 550px;
	margin: 0px auto;
	overflow: hidden;
	color: #FFF;
	background: #000;
}

.game-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.big-button {
	width: 260px;
	height: 100px;
	background-image: url(../images/ui/button_normal.png);
}

#paper {
	transform: scale(3,3);
	left: 0;
	position: absolute;
	top: 0;
	height: 500px;
	width: 1000px;
	background-color: green;
}