.worldmap {
	position: absolute;
		top: -550px;
		left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #FFD0D7;
}

.nation-tooltip {
	position:absolute;
	display: none;
	width: 150px;
	height: 200px;
	background-color: #FFD0D7;
	border: 4px solid #b62600;
	text-align: center;
	font-weight: bold;
	border-radius: 2px;
	color: #b62600;
	z-index: 100;
}

.one-four-text {
	font-size: 1.4em;
}